nav.popup.popup-menu
	ul.menu
		li.menu__item: a.menu__link(href="/works") Мои работы
		li.menu__item: a.menu__link(href="/about") Обо мне
		li.menu__item: a.menu__link(href="/blog") Блог
		li.menu__item: a.menu__link(href="/") Авторизация


