.preloader
	svg.preloader-svg(viewBox="0 0 120 120")
		symbol(id="preloader-svg__symbol")
			circle(r="10", cx="10", cy="10")
		g.preloader-svg__circles(id="circle")
			g.preloader-svg__circle
				use.preloader-svg__use(xlink:href="#preloader-svg__symbol")
			g.preloader-svg__circle
				use.preloader-svg__use(xlink:href="#preloader-svg__symbol")
			g.preloader-svg__circle
				use.preloader-svg__use(xlink:href="#preloader-svg__symbol")
			g.preloader-svg__circle
				use.preloader-svg__use(xlink:href="#preloader-svg__symbol")
			g.preloader-svg__circle
				use.preloader-svg__use(xlink:href="#preloader-svg__symbol")
			g.preloader-svg__circle
				use.preloader-svg__use(xlink:href="#preloader-svg__symbol")
			g.preloader-svg__circle
				use.preloader-svg__use(xlink:href="#preloader-svg__symbol")
			g.preloader-svg__circle
				use.preloader-svg__use(xlink:href="#preloader-svg__symbol")
			g.preloader-svg__circle
				use.preloader-svg__use(xlink:href="#preloader-svg__symbol")
			g.preloader-svg__circle
				use.preloader-svg__use(xlink:href="#preloader-svg__symbol")
			g.preloader-svg__circle
				use.preloader-svg__use(xlink:href="#preloader-svg__symbol")
			g.preloader-svg__circle
				use.preloader-svg__use(xlink:href="#preloader-svg__symbol")

