section.social
	a.social__item(href="https://vk.com/id137238729" target="_blank")
		include ../../public/images/icons/vk.svg
	a.social__item(href="https://github.com/Kaprisa" target="_blank")
		include ../../public/images/icons/github.svg
	a.social__item(href="#")
		include ../../public/images/icons/in.svg