extends email-layout

block content
	h2 Сброс пароля
	p Здравствуйте. Вы запросили сброс пароля. Пожалуйста, нажмите кнопку, чтобы восстановить ваш аккаунт. Данная ссылка валидна в течении часа.
	+button(resetURL, 'Восстановить аккаунт')
	p Если вы не можете кликнуть на кнопку, пожалуйста посетите #{resetURL}
	br
	p Если вы не запрашивали данное письмо, проигнорируйте его.
