.panel
	a.panel__item(href="/admin/profile")
		include ../../../public/images/icons/house.svg
		span.panel__text Дом
	a.panel__item(href="/admin/about")
		include ../../../public/images/icons/medal.svg
		span.panel__text Навыки
	a.panel__item(href="/admin/blog")
		include ../../../public/images/icons/blog.svg
		span.panel__text Блог
	a.panel__item(href="/admin/works")
		include ../../../public/images/icons/web.svg
		span.panel__text Работы